<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linder.find_bank">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_f"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_f"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.linder.find_bank.activities.HomeActivity" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="Solicita tu registro"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NosotrosActivity" />
        <activity
            android:name=".activities.DetalleBancoActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.PerfilActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.FavoriteActivity"
            android:label="Favoritos"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.EditarActivity"
            android:label="Editar Usuario"
            android:parentActivityName=".activities.PerfilActivity" />
        <activity
            android:name=".activities.NewAgentActivity"
            android:label="Crear Agente"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.AgenteAllActivity"
            android:label="Todos los Agentes"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.EditAgenteActivity"
            android:label="Editar Agente"
            android:parentActivityName=".activities.HomeActivity" />
        <!-- Declare MyWidgetProvider -->
        <receiver android:name=".widgetproviders.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <!-- Widget service -->
        <service
            android:name=".widgetproviders.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".activities.ShowAgenteActivity"
            android:label="Detalle de Agente"
            android:parentActivityName=".activities.AgenteAllActivity" />
        <activity android:name=".activities.ShowFavoriteActivity"></activity>
    </application>

</manifest>